// TEAM MEMBER ELEMENT
// =====================================

.csl-teammember  {
	position: relative;    
    overflow: hidden;
    
    //767px
    @include respond-max($xl-phone) {
	    @include center;
		width: 60%;
	}
	
	
	//480px
    @include respond-max($m-phone) {
		width: 100%;
	}
    
    &:hover {
	    
	    .teammember-image-wrap {
		    
		    &::before {
			    background-color: rgba($lime, .6);
		    }
		    
		    img {
			    -moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
		    }
	    }        
    }
    
    
    //Team member Image
	//======================
    .teammember-image-wrap {
	    		    
	    &::before {
	        content: '';
	        position: absolute;
	        display: block !important;
	        width: 100%;
	        height: 100%;
	        top: 0;
	        left: 0;
	        background-color: rgba($black, .5);
	        z-index: 2;
	    }	 
	    
	    img {
		  -moz-transition: all 0.3s;
		  -webkit-transition: all 0.3s;
		  transition: all 0.3s;
	    }   
    }

	
	//Team member Info
	//======================
	.teammember-info {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: transparent !important;
		z-index: 5;
		padding-left: 3vw;
		padding-bottom: 2vw;
		
		.teammember-name {
			font-family: $font-title;
			font-size: 32px;
			line-height: 1.2;
			letter-spacing: 1px;
			
			//1280px
		    @include respond-max($l-laptop) {
				font-size: 24px;
			}
		}
		
		
		.teammember-title {
			font-family: $font-main;
			font-size: 20px;
			line-height: 1.2;
			font-style: oblique;
			
			//1280px
		    @include respond-max($l-laptop) {
				font-size: 18px;
			}
		}
	}
	
	
	//View More Button
	//========================
	.view-profile {
		@extend .x-btn;
		@extend .-white-btn;
		background-color: transparent !important;
		z-index: 5;
		top: 40%;
		opacity: 1;
		text-transform: uppercase;
		
		//1440px
	    @include respond-max($l-desktop) {
			top: 30%;
		}
		
		//1280px
	    @include respond-max($l-laptop) {
			width: 60%;
		}
		
		
		//1024px
	    @include respond-max($hor-tablet) {
			//top: 25%;
			width: 80%;
			padding: em(5) em(20)!important;
		}

	}
}




//LAST TEAM MEMBER
//===================================
.last-member {
	
	.csl-teammember  {
		pointer-events: none !important;
		
		//Team member Image
		//======================
	    .teammember-image-wrap {
		    		    
		    &::before {
		        background-color: rgba($black, .9);
		    }
		}
	}
}



//TEAM MEMBER OVERLAY
//===================================

.teammember-bio-overlay {
	background-color: rgba($black, .95);
	
	
	.teammember-bio-container {
		width: 75%;
		
		//880px
	    @include respond-max($m-tablet) {
			width: 90%;
		}
		
		
		//Close Button
		//===================
		.t-close {
			background-color: transparent !important;
			border: 3px solid white !important;
			border-radius: 0;
			line-height: 1.5;
			
			&:hover {
				color: white;
				background-color: $green !important;
				border-color: $green !important;
			}
		}
		
		
		
		//Bio Content
		//===================
		.teammember-bio-content {
			color: white;
			
			img {
				max-width: 365px;
				
				//600px
			    @include respond-max($l-phone) {
					width: 100%;
				}
			}
			
			.teammember-name,
			.teammember-title {
				color: white;	
			}
			
			
			.teammember-name {
				font-family: $font-title;
				font-size: 32px;
				line-height: 1.2;
				letter-spacing: 1px;
				color: $green;
			}
			
			.teammember-title {
				font-family: $font-main;
				font-size: 20px;
				line-height: 1.2;
				font-style: oblique;
			}
		}
	}
}